/* Remove default browser spacing */
body.sourceiq-mode {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* body.sourceiq-mode .sourceiq-page {
  width: 100vw;
  height: 100vh;
}

body.sourceiq-mode .sourceiq-page tableau-viz {
  width: 100%;
  height: 100%;
  display: block;
} */
/* Full-page Tableau container */
.sourceiq-page {
  width: 100vw;
  height: 100vh;
}

/* Force Tableau viz to fill container */
.sourceiq-page tableau-viz {
  width: 100%;
  height: 100%;
  display: block;
}

.skeleton {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    #1e1e1e 25%,
    #2a2a2a 37%,
    #1e1e1e 63%
  );
  animation: shimmer 1.4s infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  font-size: 16px;
}

@keyframes shimmer {
  0% { background-position: -1000px 0; }
  100% { background-position: 1000px 0; }
}

