# Development Environment
DEV_TABLEAU_SERVER=
DEV_TABLEAU_API_VERSION=
DEV_TABLEAU_PAT_NAME=
DEV_TABLEAU_PAT_SECRET=
DEV_TABLEAU_SITE_CONTENT_URL=

# Dev Database
DEV_DB_HOST=
DEV_DB_PORT=
DEV_DB_NAME=
DEV_DB_USERNAME=
DEV_DB_PASSWORD=

# Test Environment
TEST_TABLEAU_SERVER=
TEST_TABLEAU_API_VERSION=
TEST_TABLEAU_PAT_NAME=
TEST_TABLEAU_PAT_SECRET=
TEST_TABLEAU_SITE_CONTENT_URL=

# Test Database
TEST_DB_HOST=
TEST_DB_PORT=
TEST_DB_NAME=
TEST_DB_USERNAME=
TEST_DB_PASSWORD=

# Production Environment
PROD_TABLEAU_SERVER=
PROD_TABLEAU_API_VERSION=
PROD_TABLEAU_PAT_NAME=
PROD_TABLEAU_PAT_SECRET=
PROD_TABLEAU_SITE_CONTENT_URL=

# Production Database
PROD_DB_HOST=
PROD_DB_PORT=
PROD_DB_NAME=
PROD_DB_USERNAME=
PROD_DB_PASSWORD=