annotated-types
anyio
certifi
cffi
charset-normalizer
click
colorama
cryptography
et_xmlfile
fastapi
h11
httptools
idna
msal
numpy
openpyxl
pandas
pillow
pycparser
pydantic
pydantic-core
PyJWT
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
requests
six
starlette
typing-inspection
typing-extensions
tzdata
urllib3
uvicorn
watchfiles
websockets
sse-starlette
psycopg2-binary
mysql-connector-python
tableauserverclient
boto3
redis
